body{
    background-color: grey;
}


.gameholder{
    display: inline-grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "playerboard cpuboard";
    height: 100%;
    width: 100%;
    margin-left: 100px;
    margin-top: 50px;
}


.playerboard{
    display: inline-grid; 
    border: black solid 2px; 
    height: 500px;
    width: 500px;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "one two three four five six seven eight"
    "nine ten eleven twelve thirteen fourteen fifthteen sixteen"
    "seventeen eightteen nineteen twenty twentyone twentytwo twentythree twentyfour"
    "twentyfive twentysix twentyseven twentyeight twentynine thirty thirtyone thirtytwo"
    "thirtythree thirtyfour thirtyfive thirtysix thirtyseven thirtyeight thirtynine fourty"
    "fourtyone fourtytwo fourtythree fourtyfour fourtyfive fourtysix fourtyseven fourtyeight"
    "fourtynine fifty fiftyone fiftytwo fiftythree fiftyfour fiftyfive fiftysix"
    "fiftyseven fiftyeight fiftynine sixty sixtyone sixtytwo sixtythree sixtyfour"

}
 .cpuboard{
    display: inline-grid; 
    border: black 2px solid; 
    text-align: center;
    height: 500px;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "one two three four five six seven eight"
    "nine ten eleven twelve thirteen fourteen fifthteen sixteen"
    "seventeen eightteen nineteen twenty twentyone twentytwo twentythree twentyfour"
    "twentyfive twentysix twentyseven twentyeight twentynine thirty thirtyone thirtytwo"
    "thirtythree thirtyfour thirtyfive thirtysix thirtyseven thirtyeight thirtynine fourty"
    "fourtyone fourtytwo fourtythree fourtyfour fourtyfive fourtysix fourtyseven fourtyeight"
    "fourtynine fifty fiftyone fiftytwo fiftythree fiftyfour fiftyfive fiftysix"
    "fiftyseven fiftyeight fiftynine sixty sixtyone sixtytwo sixtythree sixtyfour"
} 

.box{
    border: solid black 2px;
    /* color: white; */
}